.mouse {
  display: inline-block;
  width: 34px;
  height: 55px;
  border: 4px solid #fff;
  border-radius: 20px;
  position: relative;
}
.mouse > .wheel {
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 8px;
  left: calc(50% - 2px);
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    top: 8px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}
